@model Shop.Data.Models.Item

<div class="col-lg-3">
    <img class="img-thumbnail" src="@Model.Image" alt="Model.Name" />
    <h2>@Model.Name</h2>
    <h3>@Model.ShortDescription</h3>
    <p>Цена: @Model.Price.ToString("c")</p>
    <p>Котегория: @Model.Category.CategoryName</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@Model.Id">Добавить в корзину</a></p>
</div>